*{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: rgb(7, 2, 20);
}
.second{
    background-color: rgb(220, 232, 241);
    height: auto;
    width: 60%;
}
.content{
    text-align: center;
    padding: 25px;
}
.content h2{
    font-size: 28px;
    margin-bottom: 25px;
    color: rgb(23, 2, 37);
}
.content2{
    width: 80%;
    height: 60px;
    margin-bottom: 25px;
}

.content2 input{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    padding-left: 2%;
}
.content2 button{
    height: 100%;
    width: 25%;
    border: none;
    outline: none;
    background-color: rgb(128, 11, 238);
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.delete{
    background-color: rgb(255, 158, 13);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5%;
    font-size: 14px;
    font-weight: 500;
}

.b1{
    margin-right: 5px;
}
.b2{
    margin-left: 5px;
}


ul{
    list-style-type:none;
    background-color: rgb(199, 226, 247);
    margin: 30px 30px;
}

.todo{
    text-decoration: none;
}
li{
    color:rgb(147, 75, 214);
    background-color: white;
    font-size: 25px;
    font-weight: 600;

    text-decoration: none;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-left: -40px;
}

.not_done{
    background-color: white;
}
.done{
    text-decoration: line-through;
}
